/* Importação de fonte moderna */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

/* 1. Ajustes Globais */
.stApp {
    font-family: 'Inter', sans-serif;
    background:linear-gradient(90deg,rgba(65, 42, 155, 1) 0%, rgba(87, 139, 199, 1) 50%, rgba(157, 83, 237, 1) 100%);
}

/* Cabeçalho do Dashboard */
.stApp .stMarkdown div.banner-container {
    background: linear-gradient(135deg, #1e293b 0%, #334155 100%) !important;
    padding: 40px !important;
    border-radius: 16px !important;
    text-align: center !important;
    margin-bottom: 25px !important;
    
}

.stApp .stMarkdown h1.banner-title {
    color: #76968e !important;
    margin: 0 !important;
    font-size: 3rem !important;
}

.stApp .stMarkdown p.banner-subtitle {
    color: #5f738b !important;
    font-size: 1.2rem !important;
}

.main .block-container {
    padding-top: 150px !important; 
}


/*Cards de valores*/
[data-testid="stMetric"] {
    background: linear-gradient(90deg,rgba(65, 42, 155, 1) 0%, rgba(87, 139, 199, 1) 60%);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid #a9afb8;
}

[data-testid="stMetricValue"] {
    color: #a9afb8 !important;
    font-weight: 700 !important;
}

/*Sidebar*/
section[data-testid="stSidebar"] {
    background: linear-gradient(135deg, #7051ED 0%, #445E82 50%);
}

.stButton>button {
    background-color: #197a5a !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    font-weight: 600 !important;
    transition: all 0.2s ease !important;
}

.stButton>button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(117, 13, 22, 0.4);
}

.stApp .stMarkdown div.card-entradas {
    background-color: #c7710f !important;
    padding: 25px !important;
    border-radius: 15px !important;
    margin-bottom: 20px !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
    color: rgb(168, 47, 47) !important;
}
